<% provide(:title, "Adoption Request Form") %>
<%= form_for @adoption_request do |f| %>
  <h1><%= @gem_adoption.ruby_gem.name %></h1>
  <% if @adoption_request.errors.any? %>
    <div>
      <p><%= pluralize(@adoption_request.errors.count, "error") %> Prohibited this adoption request from being saved:</p>
      <ul>
        <% @adoption_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <%= f.hidden_field :gems_adoption_id %>
  <p><%= f.text_area :description, placeholder: 'Why do you want to adopt this gem?', class: 'form-control', rows: 5 %></p>
  <ul class="list-inline">
    <li><%= f.submit "Send adoption request", class: 'btn btn-primary' %></li>
    <li><%= link_to 'Cancel', gem_path(@gem_adoption.ruby_gem), class: 'btn btn-danger' %></li>
  </ul>
<% end %>
