<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title><%= yield(:title) %> | RubyGems AdoptionCenter</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><%= link_to 'Gems', :gems_adoptions %></li>
            <li role="presentation"><%= link_to 'Recent Activity', :gem_ownership_transfers %></li>
            <% if logged_in? %>
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><a tabindex="-1" href="#"><%= link_to 'Dashboard', :gems %></a></li>
                  <li><a tabindex="-1" href="#"><%= link_to "Adoption requests", :adoption_requests %></a></li>
                  <li class="divider"></li>
                  <li><a tabindex="-1" href="#"><%= link_to "Sign out", :signout %></a></li>
                </ul>
              </li>
            <% else %>
              <li role="presentation"><%= link_to 'Sign in with Rubygems', '/auth' %></li>
            <% end %>
          </ul>
        </nav>
        <h3 class="text-muted"><%= link_to 'RubyGems Adoption Center', :root %></h3>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
      <% end %>
      <%= yield %>

    </div>
  </body>
</html>
