<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title><%= yield(:title) %> | RubyGems AdoptionCenter</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><%= link_to 'Home', root_path %></li>
            <li role="presentation"><%= link_to 'Gems', gems_adoptions_path %></li>
            <% if current_user %>
              <li role="presentation"><%= link_to "Sign out", signout_path %></li>
            <% else %>
              <li role="presentation"><%= link_to 'Sign in with Github', '/auth/github' %></li>
            <% end %>
          </ul>
        </nav>
        <h3 class="text-muted">RubyGems Adoption Center</h3>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
      <% end %>
      <%= yield %>

    </div>
  </body>
</html>
